video#bgvid {
  position: fixed; 
  top: 0;
  left: 0;
  min-width: 100%; min-height: 100%;
  width: auto; 
  height: auto; 
  background: url('poster.jpg') no-repeat;
  background-size: cover;
  z-index: -100;
}