
%video{autoplay: "autoplay", loop: "loop", preload: "auto", poster: "assets/poster.jpg", id: "bgvid"}
  %source{src:"assets/Paris-P1-0.webm", type:"video/webm"}
  %source{src:"assets/Paris-P1-1.mp4", type: "video/mp4"}

.row
  .large-12.columns
    %h1.text-center{style: "font-family: 'Roboto Condensed', sans; font-size: 3.5em; padding-top:30px; font-weight: bold; color: white"}
      SAVING BETTER

.row
  .large-12.columns
    %h3.text-center Your source for local great food recommendations
    %p.text-center Emplary does the searching, you do the eating.
 


