%div#footer.row
  .large-12.columns
    .row
      .large-6.columns
        %p
          %small 
            &copy; 2015 All rights reserved.
      / .large-6.columns
      /   %ul.inline-list.right
      /     %li
      /       %a{:href => "#"} Facebook
      /     %li
      /       %a{:href => "#"} Twitter
      /     %li
      /       %a{:href => "terms"} Terms of Use
