
-# .contain-to-grid.sticky 
%nav.top-bar{"data-topbar" => true, "role" => "navigation", "style" => "margin-top: 20px;"}
  %ul.title-area
    %li.name
      %h1
        %a{:href => "/"} 
          fundwise
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span 
  %section.top-bar-section
    %ul.right
      %li
        %a{:href => "#"} GET STARTED
      %li.divider
      %li.has-dropdown
        %a{:href => "#"} FOLLOW
        %ul.dropdown
          %li
            %a{:href => "#"}             
              %i.fi-social-facebook{style: "font-size: 1.5em;"}
              Facebook
          %li
            %a{:href => "#"} 
              %i.fi-social-twitter{style: "font-size: 1.5em;"}
              Twitter
      %li.divider
      %li.has-form
        %label
          %small 
            We never share your email without your consent.
        %form{"data-abide" => ""}
          .row.collapse
            .large-7.small-8.columns
              %input{type: "email", required: "", placeholder: "e-mail"}
              %small.error
                An email is required.
            .large-5.small-4.columns
              %button.expand.button{type: "submit"}
                Get updates